---
---

@import "type-on-strap";

.ProfileAvatar {
	background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    //height: 200px;
    position: relative;
	margin: 0 auto 10px;
    height: 200px;
    width: 200px;
}

.profile-pic{
	border-radius: 50%;
	padding-left: 0;
	padding-right: 0;
}

.call-out{padding:3% 20% !important}



.call-out{
    padding:6% 20%
}@media (max-width: 1000px){
    .call-out{
        padding:9% 12.5%;
        background-size: 150% auto;
    }
}@media (max-width: 900px){
    .call-out{
        padding:6%;
        background-size: 265% auto;
    }
}@media (max-width: 390px){
    .call-out {
        padding: 6%;
        background-size: 350% auto;
    }
}

@media (max-width: 385px){
    .avatar{
        display:none;
    }
}

.site-header nav ul {
    margin: 1%;
}

.site-header
{
    padding: 1% 2% 1% 2%;
}

.site-header .avatar {
    height: 4em;
    width: 4em;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.abouthome{
    padding: 0.5% 20% 2% 20%;
}@media (max-width: 576px){
    .abouthome{
        padding: 4% !important;
    }
    .submaint {
        padding: 0% 0% !important;
    }

    .site-header .avatar {
        height: 3em;
        width: 3em;
    }

    .site-header .site-title {
        margin-top: -5px;
      
        font-size: 1.30em;
    }


}

p{
    text-align: justify;
}

.site-header .site-title {
    font-size: 1.80em;
}