---
---

@import "type-on-strap";

.ProfileAvatar {
	background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    //height: 200px;
    position: relative;
	margin: 0 auto 10px;
    height: 200px;
    width: 200px;
}

.profile-pic{
	border-radius: 50%;
	padding-left: 0;
	padding-right: 0;
}

.call-out{padding:3% 20% !important}


.call-out{
    padding:6% 20%
}@media (max-width: 1000px){
    .call-out{
        padding:9% 12.5%;
        background-size: 150% auto;
    }
}@media (max-width: 576px){
    .call-out{
        padding:6%;
        background-size: 265% auto;
    }
}