---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out submaint"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    <div class="ProfileAvatar">
      <img class="profile-pic" src="{{site.theme_settings.profile_pic}}" alt="Jeffrey Chan">
    </div>
    {{ site.theme_settings.header_text }}
    
  </div>
  {% endif %}
  <div class="posts" >
    <div class="post-teaser abouthome">
      <span>
          <header align="center">
            <h2>
              <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> -->
                <!-- Hi! I’m Jeffrey Chan, welcome to my blog. -->
                About Me
              </a>
            </h2>
            <!-- <p class="meta">
              My name is Jeffrey Chan.
            </p> -->
          </header>
          <div class="excerpt">
            <p style="text-align:justify">
              I'm an undergraduate researcher at the University of Puerto Rico, Rio Piedras campus, I'm in Computer Science major with a double concentration in math. Currently, I'm working in the Bee Lab under the supervision of Dr. Rémi Mégret developing a method to identify untagged bees in videos using semi-supervised learning and Siamese networks. I'm very interested in intelligence systems, computer vision, speech recognition, and embeddings.
            </p>
          </div>
      </span>
    </div>

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
              {{ post.date | date: "%B %-d, %Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
            <!--{{ post.content | strip_html | truncate: "250" }}-->
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
